<div class="container mt-5">
    <div class="jumbotron shadow-lg border border-warning">
        <h1 class="display-4 text-center ">About Techland</h1>
        <hr class="my-4 bg-warning">
        <h5>Software development Motivation App</h5>
        <p class="lead text-center ">This is a platform where students can get authentic and verified information/inspiration/advice about the tech space. The information will be in the form of videos, audio, or articles/blogs created by the Moringa school community. </p>
        <hr class="my-4 bg-warning">
        <div class="row contact_us text-center">
            <div class="col-md-12">
              <h3 class="" id="m2">CONTACT US.</h3>
            </div>
            <!-- <div class="col-md-12">
                <a href="https://www.facebook.com/profile.php?id=100006079969163" class="btn" target="blank">
                    <img src="{% static 'image/facebookicon.png' %}">
                </a>
                <a href="Tel: +254758657828" class="btn">
                    <img src="{% static 'image/tellicon.png' %}">
                </a>
                <a href="https://wa.me/256756522631" class="btn" target="blank">
                    <img src="{% static 'image/whatsappicon.png' %}">
                </a>
            </div> -->
        </div>
    </div>
</div>
