<nav class="navbar navbar-expand-lg sticky-top navbar-light " style="background-color:white">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Cinzel', serif; font-size: 35px;" routerLink="/home" >
          Techland
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;" class="nav-item nav-link" routerLink="about" routerLinkActive='active'>About</a>
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;"  class="nav-item nav-link" routerLink="wishlist">
              <!-- <img src="assets/icons/hrt6.png" width="30" height="30" class="d-inline-block align-top" alt=""> --> Wishlist
            </a>
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;"  class="nav-item nav-link " routerLink="subscription">
              <!-- <img src="assets/icons/icons8-subscription.png" width="30" height="30" class="d-inline-block align-top" alt=""> --> Subscriptions
            </a>
          </div>
          <div class="navbar-nav ml-auto mt-2">
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;"  class="nav-item nav-link" routerLink="category" routerLinkActive='active'>Categories</a>
            <!-- <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;"  class="nav-item nav-link" routerLink="login" routerLinkActive='active'>Login</a>
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;"  class="nav-item nav-link" routerLink="register" routerLinkActive='active'>Register</a> -->
            <a class="nav-item nav-link" style="cursor: pointer;" *ngIf="currentUser" (click)="logout()">Logout</a>
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;" class="nav-item nav-link" routerLink="add_post">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <a style="font-family: 'Nanum Myeongjo', serif; font-size: 18px;" class="nav-item nav-link" routerLink="profile">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
            </a>
        </div></div>
    </div>
</nav>
