<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white border-bottom border-danger">
    <div class="container">
        <a class="navbar-brand text-danger" routerLink="/home" >
          Techland
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="about" routerLinkActive='active'>About</a>

          </div>
         
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="category" routerLinkActive='active'>Categories</a>
            <a class="nav-item nav-link" style="cursor: pointer;" *ngIf="currentUser" (click)="logout()">Logout</a>

            <a class="navbar-brand " routerLink="add_post">
                <img src="assets/icons/icons8-add_new.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
          </div>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="navbar-brand " routerLink="profile">
                <img src="assets/icons/icons8-cat_profile.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </div>
</nav>