<div class="container mt-5">
  <h1 style="font-size :40px; font-weight: bold; font-family: 'Cinzel', serif;">Wishlist</h1>
  <div class="card-columns">

  <div *ngFor="let post of posts">


          <div class="card">
              <a [routerLink]="['/postDetail',post.id]" routerLinkActive='active' class="text-dark" style="text-decoration: none;">
              <!-- <div style="background-color: white;" class="card-header" >
                  <h3 style=" font-size :25px; font-weight: bold; font-family: 'Cinzel', serif;"class="card-title mt-2"><span class="">{{ post.title}}</span></h3>
              </div> -->
              <img src="{{ post.image }}" style="width:100%"class="card-img-top" alt="{{post.title}}">
              <div class="card-body">

                  <h3 style=" font-size :40px; font-weight: bold; font-family: 'Cinzel', serif;"class="card-title mt-2"><span class="">{{ post.title}}</span></h3>
                  <h4 class="card-title mt-2"><span style="background-color: #7fffd4; color:black"class="badge badge-secondary">{{ post.category }}</span></h4>
                  <!-- <hr class="bg-dark"> -->
                  <!-- <p class="card-text">{{ post.content }}</p> -->
              </div>
              </a>
              <div class="card-footer" style= "border-bottom-right-radius:25px; border-bottom-left-radius:25px;">
                  <p class="card-text"><small class="text-muted"> posted on {{ post.timestamp | date:'dd.MM.yy à HH:mm'}} by {{ post.author }}</small></p>
                  <div>
                      <span class="">
                          <!-- <a [routerLink]="['/post',{id: post.id }]"><img src="assets/icons/icons8-comments.png" width="30" height="30" alt=""></a> -->
                          <!-- <img src="assets/icons/icons8-comments.png" width="30" height="30" alt="" (click)="ViewuserDetail(post.id)"> -->
                          <!-- <img src="assets/icons/icons8-comments.png" width="30" height="30" alt="" [routerLink]="['/postDetail', 'post.id']"> -->
                          <a [routerLink]="['/postDetail',post.id]" routerLinkActive='active'><img src="assets/icons/icons8-comments.png" width="30" height="30" alt=""></a>&nbsp;&nbsp;
                      </span>
                  </div>
              </div>
          </div>
    
  </div>
  </div>
</div>
