<div id="profile" class="container-fluid">
    <div class="row" style=" padding:0; margin:0; top:0; left:0; width: 100%; height: 100vh;">
        <div class="col-md-3" style="background-color: #7fffd4;">
            <div class="mt-4">
                <img src="assets/profilepics/default.jpg" style="width: 250px; height: 250px; border-radius: 50%;" alt="Profile" class="img-thumbnail">
                <br><br>
                <!-- <p class="text">Admin</p> -->
                <h4 >
                    <span style="font-weight: bold;">pip_bbaale</span><br>
                   
                </h4>
                <p >Email: namugera.philip@gmail.com</p>
                <hr class="bg-secondary">
                <p style="font-weight:bold;">Bio</p>
                <h5 style="font-family: 'Nanum Myeongjo', serif;font-size: 18px;">
                    A biography, or simply bio, is a detailed description of a person's life. It involves more than just the basic facts like education, work, relationships, and death; it portrays a person's experience of these life events.
                </h5>
                <button class="btn btn-dark mt-3 mb-3">Edit profile</button>
            </div>
        </div>

        <!-- <div class="col-md-9 ">

            <div class="container mt-5">

                <div class="card mb-3">
                    <div class="card-header">
                        <h2 class="card-text">pip_bbaale</h2>
                    </div>
                    
                    <div class="card-body">
                        <img src="assets/images/pic1.jpg" class="card-img-top" alt="Post">
                        <h3 class="card-title mt-2"><span class="badge badge-secondary">Post title</span></h3>
                        <p class="card-text">Post Caption. Post Caption. Post Caption. Post Caption.</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
            
        </div> -->

    </div>
</div>