#posts{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;  
}


#about{
    padding: 40px;
    font-family: 'Nanum Myeongjo', serif;
    margin: 150px;
    background-color: #7fffd4;
    

}