<div class="container mt-5">
    <div *ngFor="let post of posts">

        <div class="card mb-3" style="border-radius:25px;">
            <div class="card-header" style="border-top-right-radius:25px; border-top-left-radius:25px;">
                <h2 class="card-text">{{ post.author }}</h2>
            </div>
            
            <div class="card-body">
                <img src="{{ post.image }}" class="card-img-top" alt="{{post.title}}">
                <h3 class="card-title mt-2"><span class="badge badge-secondary">{{ post.title }}</span></h3>
                <hr class="bg-dark">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer" style= "border-bottom-right-radius:25px; border-bottom-left-radius:25px;">
                <p class="card-text"><small class="text-muted">Created: {{ post.timestamp | date:'dd.MM.yy à HH:mm'}}</small></p>
                <div>
                    <span class="">
                        <img src="assets/icons/icons8-comments.png" width="30" height="30" alt="">
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>
